.registrationNavbar {
  width: 100%;
  height: 4.8rem;
  background: rgba(203, 203, 203, 0.3);
  backdrop-filter: blur(5px);
  position:fixed;
  
z-index: 2;
}
.registrationNavbarLogo {
  display: flex;
  margin-left:1.9rem;
  height: inherit;
  align-items: center;

}
.registrationNavbarLogo img {
  width: 2.8rem;
  height: 2.461rem;
}
.registrationNavbarLogo h3 {
  height: 2rem;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  background: linear-gradient(89.62deg, #0070c5 -4.27%, #3babcf 110.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left:1.2rem;
}
